@import 'fonts';
@import 'colors';
@import 'tamanos';
body{
	margin :0;
	padding :0;
	width : 100%;
	height: 100%;
}
/*grid*/
.container{
	width: 100%;
	// border:solid 1px red;
}
.templateRow{
	content:" ";
	display: table;
}
.row{
	&:before{
		@extend .templateRow;
	}
	&:after{
		@extend .templateRow;
		clear: both;
	}
}
[class*= "col-"]{
	min-height: 7px;
	// padding: 12px;
	float:left;
}
[class*= "colV-"]{
	min-height: 7px;
	// padding: 12px;
	float:left;
}
@function anchoDeColumnas($i){
	@return percentage(($i/12));
}
@for $i from 1 through 12{
	.col-#{$i}{
		width: anchoDeColumnas($i);
	}
}
@function columnasVacias($cV){
	@return percentage(($cV/12));
}
@for $cV from 1 through 12{
	.colV-#{$cV}{
		margin-left:columnasVacias($cV);
	}
}
/*estilos*/
.padding-laterales{
	padding-left:35px;
    padding-right:60px;
}
.separacion-secciones{
	margin-top:40px;
	margin-bottom:40px;
}
.logo{
	text-align: $texto-centrado;
	width:100%;
};
.listas{
	text-decoration:none; 
	color:$texto-negro;
	margin-left:15px;
};
.fila-una{
	margin-top:60px;
	img{
		width:$ancho-total;
	}
}
.lupa{
	img{
		margin-top: 40px;
		width: 30px;
		height: 34px;
	}
}
/*texto*/
.titulo-principal{
	font-size:46px;
	font-family:$fuente-principal;
	color:$color-titulo;
	line-height: 56px;
	font-weight: 500;
}
h2{
	font-size:24px;
	font-family:$fuente-principal;
	color:$color-txtD;
	margin-bottom: 23px;
	margin-top: 12px;
	line-height: 32px;
	font-weight: 500;
}
#contribuidores{
	font-size: 14px;
    line-height: 24px;
    color: $color-txtF;
    margin-bottom: 40px;
}
.link-definicion{
	color: $color-azul;
	text-decoration:none;
}
#definicion{
	font-size: 18px;
    line-height: 34px;
    color: $color-txtD;
    text-align: justify;
}
.puntos{
	font-size: 18px;
    line-height: 34px;
    font-family:$fuente-principal;
    text-align: justify;
}